.textbox{
    background-color: #424242;
    border-radius: 25px;
    font-size: 5vh;
    color: white;
}
.textbox:focus{
    border: 4px solid  green;
}
::placeholder{
    color: white;
    font-size: 5vh;
}
.nextprev{
    color: orange;
}
.nextprev:hover{
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

/* .exit{
    padding-left: 10px;
} */