.profAvatar {
  width: 80%;
  height: 12vh;
  object-fit: cover;
}
.bannerImage {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}
.platformInfo {
  padding: 5px;
  background-color: #707070;
}
.sectionBackground {
  margin: 10px;
  width: auto;
  padding: 50px;
  border-radius: 20px;
}
.cardStyle {
  width: 18rem;
  height: 10rem;
  background-color: darkgrey;
  color: white;
  border-radius: 10px;
}
.close {
  color: #ffffff;
  opacity: 1;
}
.modal-header {
  border-bottom: 0 none;
}
.modal-footer {
  border-top: 0 none;
}